COMANDOS BASICO PANDAS:

In [14]:
import pandas as pd

Creacion de DataFrame:

pd.DataFrame(): Crea un DataFrame a partir de una lista o diccionario.

In [15]:
data = {'Nombre':['Ana', 'Juan','Jean'],
        'Edad':[23,25,23]}
df = pd.DataFrame(data)
print(df)

  Nombre  Edad
0    Ana    23
1   Juan    25
2   Jean    23

pd.read_csv(): Lee un archivo CSV y lo convierte en un DataFrame.

In [16]:
df_csv = pd.read_csv('marcas.csv')
print(df_csv)

            Marca              Modelo   Año
0             BMW             Serie 3  2003
1             BMW                  X5  2024
2             BMW                  M4  2018
3             BMW                  i4  2015
4             BMW  M3 Competition G80  2001
5   Mercedes-Benz             Clase C  1980
6   Mercedes-Benz             Clase E  1990
7   Mercedes-Benz              AMG GT  2013
8   Mercedes-Benz             Clase S  2016
9   Mercedes-Benz                 GLE  2015
10           Audi                  A4  2014
11           Audi                  Q5  2013
12           Audi                 RS6  2012
13           Audi              e-tron  2010
14           Audi                  TT  2011
15        Porsche                 911  2004
16        Porsche             Cayenne  2006
17        Porsche              Taycan  2007
18        Porsche               Macan  2008

pd.read_excel(): Lee un archivo Excel y lo convierte en un DataFrame.

In [17]:
df_excel = pd.read_excel('marcass.xlsx')
print(df_excel)

          Marca       Modelo
0           BMW          M3
1           BMW           M4
2           BMW           M5
3           BMW           M7
4           BMW           M8
5      Maserati      Folgore
6      Maserati  GranTurismo
7      Maserati       Ghibli
8   Lamborguini       Veneno
9   Lamborguini   Aventador
10       Dodger    ForCharge

Operacion Basicas:

df.head(): Muestra las primeras filas del DataFrame.

In [18]:
print(f'Primera Fila:\n{df_csv.head()}')

Primera Fila:
  Marca              Modelo   Año
0   BMW             Serie 3  2003
1   BMW                  X5  2024
2   BMW                  M4  2018
3   BMW                  i4  2015
4   BMW  M3 Competition G80  2001

df.tail(): Muestra las últimas filas del DataFrame.

In [19]:
print(f'Ultimas Fila:\n{df_csv.tail()}')

Ultimas Fila:
      Marca   Modelo   Año
14     Audi       TT  2011
15  Porsche      911  2004
16  Porsche  Cayenne  2006
17  Porsche   Taycan  2007
18  Porsche    Macan  2008

df.info(): Muestra información sobre el DataFrame.

In [20]:
print(f'Info:\n{df_csv.info()}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Marca   19 non-null     object
 1   Modelo  19 non-null     object
 2   Año     19 non-null     int64
dtypes: int64(1), object(2)
memory usage: 588.0+ bytes
Info:
None

df.describe(): Muestra estadísticas descriptivas del DataFrame.

In [21]:
print(f'Stats:\n{df_csv.describe()}')

Stats:
               Año
count    19.000000
mean   2008.421053
std      10.090236
min    1980.000000
25%    2005.000000
50%    2011.000000
75%    2014.500000
max    2024.000000

Seleccion de Datos:

df['columna']: Selecciona una columna específica.

In [22]:
print(f'Marca:{df_csv['Marca']}')

Marca:0               BMW
1               BMW
2               BMW
3               BMW
4               BMW
5     Mercedes-Benz
6     Mercedes-Benz
7     Mercedes-Benz
8     Mercedes-Benz
9     Mercedes-Benz
10             Audi
11             Audi
12             Audi
13             Audi
14             Audi
15          Porsche
16          Porsche
17          Porsche
18          Porsche
Name: Marca, dtype: object

df.loc[fila, columna]: Selecciona una celda específica.

In [23]:
print(df_csv.loc[0:0])

  Marca   Modelo   Año
0   BMW  Serie 3  2003

df.iloc[fila, columna]: Selecciona una celda específica por su posición.

In [24]:
print(df_csv.iloc[2:6])

           Marca              Modelo   Año
2            BMW                  M4  2018
3            BMW                  i4  2015
4            BMW  M3 Competition G80  2001
5  Mercedes-Benz             Clase C  1980

Filtrado de Datos:

df[df['columna'] > valor]: Filtra filas donde una columna es mayor que un valor.

In [27]:
print(df_csv[df_csv['Año']<2000])

           Marca   Modelo   Año
5  Mercedes-Benz  Clase C  1980
6  Mercedes-Benz  Clase E  1990

df[df['columna'].isin(lista)]: Filtra filas donde una columna está en una lista.

In [28]:
print(df_csv[df_csv['Modelo'].isin(['BMW','Audi'])])

Empty DataFrame
Columns: [Marca, Modelo, Año]
Index: []

Agrupacion y Combinacion de Datos:

df.groupby('columna'): Agrupa filas por una columna específica

In [29]:
print(df_csv.groupby('Año').sum())

                  Marca              Modelo
Año
1980      Mercedes-Benz             Clase C
1990      Mercedes-Benz             Clase E
2001                BMW  M3 Competition G80
2003                BMW             Serie 3
2004            Porsche                 911
2006            Porsche             Cayenne
2007            Porsche              Taycan
2008            Porsche               Macan
2010               Audi              e-tron
2011               Audi                  TT
2012               Audi                 RS6
2013  Mercedes-BenzAudi            AMG GTQ5
2014               Audi                  A4
2015   BMWMercedes-Benz               i4GLE
2016      Mercedes-Benz             Clase S
2018                BMW                  M4
2024                BMW                  X5

df.merge(df2, on='columna'): Combina dos DataFrames por una columna común.

In [30]:
df2 = pd.DataFrame({'Nombre':['Ana','Jean', 'Pedro'],
                    'Ciudad':['San Rafael', 'Neuquen', 'Madrid'],
                    'Año':[2002, 2001, 1970]})
df_merged = pd.merge(df_csv,df2, on='Año')
print(df_merged)

  Marca              Modelo   Año Nombre   Ciudad
0   BMW  M3 Competition G80  2001   Jean  Neuquen